{% extends 'base.html' %}
{% block content%}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>廣告輪播調整</h5>
                            </div>
                            <form method="POST" action="/advertise" enctype="multipart/form-data">
                                <div>
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="ad_title" class="form-label">廣告標題</label>
                                        <input type="text" class="form-control" id="ad_title" placeholder="請輸入廣告標題"
                                            name="ad_title" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ad_photo" class="form-label">廣告圖片</label>
                                        <input type="file" class="form-control" id="ad_photo" name="ad_photo" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ad_url" class="form-label">廣告網址</label>
                                        <input type="text" class="form-control" id="ad_url" placeholder="請輸入廣告網址"
                                            name="ad_url" required>
                                    </div>
                                </div>
                                <div style="text-align:right">
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </div>
                            </form>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {% if message.tags %} {{ message }} {% endif %}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>店家APP主頁圖片調整</h5>
                            </div>
                            <form method="POST" action="/shop_photo" enctype="multipart/form-data">
                                <div id="plus">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="shop_photo" class="form-label">商店形象照</label>
                                        <input type="file" class="form-control" id="shop_photo" name="shop_photo"
                                            required>
                                    </div>
                                </div>
                                <div style="text-align:right">
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}