{% extends 'base.html' %}
{% load static%}

{% block content%}
<link rel="stylesheet" href="/static/assets/css/edit_password.css">




<div class="cotn_principal">
    <div class="cont_centrar">

        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>更改密碼</h2>
                        <p>點開輸入</p>
                        <button class="btn_login" onclick="cambiar_login()">更改密碼</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>更改須知</h2>
                        <p><font color="red">請再三確認密碼無誤</font></p>
                    </div>
                </div>
            </div>


            <div class="cont_back_info">
                <div class="cont_img_back_grey">
                    <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                        alt="" />
                </div>

            </div>
            <div class="cont_forms">
                <div class="cont_img_back_">
                    <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                        alt="" />
                </div>
                <form action="" method="POST">
                    {% csrf_token%}
                    <div class="cont_form_login">
                        <a onclick="ocultar_login_sign_up()"><i class="material-icons pointer">&#xE5C4;</i></a>
                        <h2>更改密碼</h2>
                        <input type="text" placeholder="請輸入原本的密碼" name="old_pd" />
                        <input type="password" placeholder="請輸入新的密碼" name="new_pd" />
                        <button class="btn_login" type="submit">送出</button>
                    </div>
                    <div class="cont_form_sign_up"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}