{% extends 'base.html' %}

{% block content%}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {% if message.tags %} {{ message }} {% endif %}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <form method="Post" action="../singleplus1">
                                {% csrf_token%}
                                <div class="card-header">
                                    <p>單選表</p>
                                    <h5>
                                        <label>分類名稱(可修改):</label>
                                        <input type="text" value="{{ unit_name.0 }}" name="single1_name">
                                    </h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table" style="width:1000px">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <th>名稱</th>
                                                                <th>價格</th>
                                                                <th>刪除</th>
                                                                <th>修改</th>
                                                            </thead>
                                                            <tbody id="newIce_size">
                                                                {% for ice_sizes in singleplus1 %}
                                                                {% if ice_sizes.hide == 0 %}
                                                                <tr class="mb-1">
                                                                    <td style="width:130px">
                                                                        <input type="text" value="{{ ice_sizes.name }}"
                                                                            class="input_disabled" name="ice_name"
                                                                            readonly>
                                                                    </td>
                                                                    <td style="width:130px">
                                                                        <input type="text" value="{{ ice_sizes.price }}"
                                                                            class="input_disabled" name="ice_price"
                                                                            readonly>
                                                                    </td>
                                                                    <td style="width:100px">
                                                                        <input type="checkbox"
                                                                            value="{{ ice_sizes.number }}"
                                                                            name="ice_delete"
                                                                            style="position: absolute; right: 240px;">
                                                                    </td>
                                                                    <td style="width:100px">
                                                                        <a
                                                                            href="/singleplus1_edit/{{ ice_sizes.number }}">修改</a>
                                                                    </td>
                                                                </tr>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <button class="btn btn-success" type="button" name="add_single1"
                                                style="position: absolute; bottom: 3px; right: 30px;"
                                                data-toggle="modal" data-target="#add_single1">新增</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary" type="submit" name="send"
                                                style="position: absolute; bottom: 3px; right: 110px;">確定</button>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="add_single1" role="dialog" tabindex="-1">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">新增{{unit_name.0}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                                aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">名稱</label>
                                                            <input type="text" class="form-control"
                                                                id="recipient-name" name="new_single1name">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">價格</label>
                                                            <input type="text" class="form-control"
                                                                id="recipient-name" name="new_single1price">
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-light" type="button"
                                                            data-dismiss="modal">返回</button>
                                                        <button class="btn btn-primary" type="submit"
                                                            name="insert_single1">確定並返回</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <p>單選表</p>
                                <form method="Post" action="../singleplus2">
                                    <h5>
                                        <label>分類名稱(可修改):</label>
                                        <input type="text" value="{{ unit_name.1 }}" name="single2_name">
                                    </h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    {% csrf_token %}
                                    <table class="table" style="width:1000px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <th>名稱</th>
                                                            <th>價格</th>
                                                            <th>刪除</th>
                                                            <th>修改</th>
                                                        </thead>
                                                        <tbody id="newSugar_size">
                                                            {% for single2 in singleplus2 %}
                                                            {% if single2.hide == 0 %}
                                                            <tr class="mb-1">
                                                                <td style="width:130px">
                                                                    <input type="text" value="{{ single2.name }}"
                                                                        class="input_disabled" name="sugar_name"
                                                                        readonly>
                                                                </td>
                                                                <td style="width:130px">
                                                                    <input type="text" value="{{ single2.price }}"
                                                                        class="input_disabled" name="sugar_price"
                                                                        readonly>
                                                                </td>
                                                                <td style="width:100px">
                                                                    <input type="checkbox" value="{{ single2.number }}"
                                                                        name="single2_delete"
                                                                        style="position: absolute; right: 240px;">
                                                                </td>
                                                                <td style="width:100px">
                                                                    <a
                                                                        href="/singleplus2_edit/{{ single2.number }}">修改</a>
                                                                </td>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <button class="btn btn-success" type="button" name="add_single2"
                                            style="position: absolute; bottom: 3px; right: 30px;" data-toggle="modal"
                                            data-target="#add_single2">新增</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="submit" name="send"
                                            style="position: absolute; bottom: 3px; right: 110px;">確定</button>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="add_single2" role="dialog" tabindex="-1">
                                        <div class="modal-dialog " role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">新增{{ unit_name.1}}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">名稱</label>
                                                            <input type="text" class="form-control" id="recipient-name"
                                                                name="new_single2name">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">價格</label>
                                                            <input type="text" class="form-control" id="recipient-name"
                                                                name="new_single2price">
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-light" type="button"
                                                            data-dismiss="modal">返回</button>
                                                        <button class="btn btn-primary" type="submit"
                                                            name="insert_single2">確定並返回</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <p>單選表</p>
                                <form method="Post" action="../singleplus3">
                                    <h5>
                                        <label>分類名稱(可修改):</label>
                                        <input type="text" value="{{ unit_name.2 }}" name="single3_name">
                                    </h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    {% csrf_token %}
                                    <table class="table">
                                        <tbody style="width:1000px">
                                            <tr>
                                                <td>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <th>名稱</th>
                                                            <th>價格</th>
                                                            <th>刪除</th>
                                                            <th>修改</th>
                                                        </thead>
                                                        <tbody id="newCoffeePlus_size">
                                                            {% for single3 in singleplus3 %}
                                                            {% if single3.hide == 0 %}
                                                            <tr class="mb-1">
                                                                <td style="width:130px">
                                                                    <input type="text" value="{{ single3.name }}"
                                                                        class="input_disabled" name="coffeeplus_name"
                                                                        readonly>
                                                                </td>
                                                                <td style="width:130px">
                                                                    <input type="text" value="{{ single3.price }}"
                                                                        class="input_disabled" name="coffeeplus_price"
                                                                        readonly>
                                                                </td>
                                                                <td style="width:100px">
                                                                    <input type="checkbox" value="{{ single3.number }}"
                                                                        name="single3_delete"
                                                                        style="position: absolute; right: 240px;">
                                                                </td>
                                                                <td style="width:100px">
                                                                    <a
                                                                        href="/singleplus3_edit/{{ single3.number }}">修改</a>
                                                                </td>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <button class="btn btn-success" type="button" name="add_single3"
                                            style="position: absolute; bottom: 3px; right: 30px;" data-toggle="modal"
                                            data-target="#add_single3">新增</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="submit" name="send"
                                            style="position: absolute; bottom: 3px; right: 110px;">確定</button>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="add_single3" role="dialog" tabindex="-1">
                                        <div class="modal-dialog " role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">新增{{ unit_name.2 }}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">名稱</label>
                                                            <input type="text" class="form-control" id="recipient-name"
                                                                name="new_single3name">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">價格</label>
                                                            <input type="text" class="form-control" id="recipient-name"
                                                                name="new_single3price">
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-light" type="button"
                                                            data-dismiss="modal">返回</button>
                                                        <button class="btn btn-primary" type="submit"
                                                            name="insert_single3">確定並返回</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <p>多選表</p>
                                <form method="Post" action="../multi_plus">
                                    <h5>
                                        <label>分類名稱(可修改):</label>
                                        <input type="text" value="{{ unit_name.3 }}" name="multiplus_name">
                                    </h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    {% csrf_token %}
                                    <table class="table" style="width: 1000px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <th>名稱</th>
                                                            <th>價格</th>
                                                            <th>刪除</th>
                                                            <th>修改</th>
                                                        </thead>
                                                        <tbody id="newPlus_size">
                                                            {% for multi in multipleplus %}
                                                            {% if multi.hide == 0 %}
                                                            <tr class="mb-1">
                                                                <td style="width:130px">
                                                                    <input type="text" value="{{ multi.name }}"
                                                                        class="input_disabled" name="multi_name"
                                                                        readonly>
                                                                </td>
                                                                <td style="width:130px">
                                                                    <input type="text" value="{{ multi.price }}"
                                                                        class="input_disabled" name="multi_price"
                                                                        readonly>
                                                                </td>
                                                                <td style="width:100px">
                                                                    <input type="checkbox" value="{{ multi.number }}"
                                                                        name="multi_delete"
                                                                        style="position: absolute; right: 240px;">
                                                                </td>
                                                                <td style="width:100px">
                                                                    <a href="/multi_plus_edit/{{ multi.number }}">修改</a>
                                                                </td>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <button class="btn btn-success" type="button" name="add_multi"
                                            style="position: absolute; bottom: 3px; right: 30px;" data-toggle="modal"
                                            data-target="#add_multi">新增</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="submit" name="send"
                                            style="position: absolute; bottom: 3px; right: 110px;">確定</button>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="add_multi" role="dialog" tabindex="-1">
                                        <div class="modal-dialog " role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">新增{{ unit_name.3 }}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">名稱</label>
                                                            <input type="text" class="form-control" id="recipient-name"
                                                                name="new_multiname">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">價格</label>
                                                            <input type="text" class="form-control" id="recipient-name"
                                                                name="new_multiprice">
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-light" type="button"
                                                            data-dismiss="modal">返回</button>
                                                        <button class="btn btn-primary" type="submit"
                                                            name="insert_multi">確定並返回</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <form method="POST" action="../product_type"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-header">
                                    <h5>
                                        商品分類
                                    </h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table" style="width: 1000px;">
                                            <tbody id=newProductType_size>
                                                <tr>
                                                    <td>
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <th>類別名稱</th>
                                                                <th>圖片</th>
                                                                <th>刪除</th>
                                                                <th>修改</th>
                                                            </thead>
                                                            <tbody>
                                                                {% for sorts in sort %}
                                                                {% if sorts.hide == 0 %}
                                                                <tr class="mb-1">
                                                                    <td style="width:130px">
                                                                        <input type="text" value="{{ sorts.sort_type }}"
                                                                            class="input_disabled"
                                                                            name="producttype_name" readonly>
                                                                    </td>
                                                                    <td style="width:130px">
                                                                        <input type="text" value="{{ sorts.photo }}"
                                                                            class="input_disabled"
                                                                            name="producttype_photo" readonly>
                                                                    </td>
                                                                    <td style="width:100px">
                                                                        <input type="checkbox"
                                                                            value="{{ sorts.sort_id }}"
                                                                            name="producttype_delete"
                                                                            style="position: absolute;right: 240px;">
                                                                    </td>
                                                                    <td style="width:100px">
                                                                        <a
                                                                            href="/product_type_edit/{{ sorts.sort_id }}">修改</a>
                                                                    </td>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <button class="btn btn-success" type="button" name="add_sort"
                                                style="position: absolute; bottom: 3px; right: 50px;"
                                                data-toggle="modal" data-target="#add_sort">新增</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary" type="submit" name="send"
                                                style="position: absolute; bottom: 3px; right: 130px;">確定</button>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Modal -->
                                
                                <div class="modal fade" id="add_sort" role="dialog" tabindex="-1">
                                    <div class="modal-dialog " role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">新增類別</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <spanaria-hidden="true">×</spanaria-hidden=>
                                                </button>
                                            </div>
                                            
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label>名稱</label>
                                                        <input type="text" class="form-control" name="new_sortname">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label>選擇圖片</label>
                                                        <input type="file" class="form-control" name="new_sortpic">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-light" type="button" data-dismiss="modal">返回</button>
                                                    <button class="btn btn-primary" type="submit" name="insert_sort">確定並返回</button>
                                                </div>
                                                                                    
                                        </div>
                                    </div>
                                </div>
                            </form>                               
                        </div>                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>
                                    商品加料調整
                                </h5>
                            </div>
                            <form method="Post" action="../product_case">
                                {% csrf_token %}
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <th>規則命名</th>
                                                                <th>可選中文名稱</th>
                                                                <th>刪除</th>
                                                                <th>修改</th>
                                                                <th>狀態</th>
                                                            </thead>
                                                            <tbody>
                                                                {% for product_case in cursor %}
                                                                {% if product_case.3 == 0%}
                                                                <tr class="mb-1">
                                                                    <td>
                                                                        <input type="text" value="{{ product_case.0 }}"
                                                                            name="product_addrule"
                                                                            class="input_disabled" readonly>
                                                                    </td>
                                                                    <td>
                                                                        {% for i in unit_name%}
                                                                        <div class="form-check">
                                                                            <input class="form-check-input"
                                                                                type="checkbox" onclick="return false;"
                                                                                id="flexCheckDefault" 
                                                                                {% if i in product_case.2 %} checked {% endif %}>
                                                                            <label class="form-check-label"
                                                                                for="flexCheckDefault">
                                                                                {{ i }}
                                                                            </label>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                            value="{{ product_case.0 }}"
                                                                            name="product_addrule_delete"
                                                                            style="position: absolute; right: 240px;">
                                                                    </td>
                                                                    <td>
                                                                        <a
                                                                            href="/product_case_edit/{{ product_case.0 }}">修改</a>
                                                                    </td>
                                                                    {% if product_case.3 == 1%}
                                                                    <td>
                                                                        <button type="submit"
                                                                            class="btn btn-primary return">
                                                                            <i class="fas fa-undo-alt"></i>
                                                                        </button>
                                                                    </td>
                                                                    {% else %}
                                                                    <td>
                                                                        <a>開啟</a>
                                                                    </td>
                                                                    {% endif %}
                                                                    {% else %}
                                                                <tr class="mb-1 table-dark">
                                                                    <td>
                                                                        <input type="text" value="{{ product_case.0 }}"
                                                                            name="product_addrule"
                                                                            class="input_disabled" readonly>
                                                                    </td>
                                                                    <td>
                                                                        {% for i in unit_name%}
                                                                        <div class="form-check">
                                                                            <input class="form-check-input"
                                                                                type="checkbox" onclick="return false;"
                                                                                id="flexCheckDefault" 
                                                                                {% if i in product_case.2 %} checked {% endif %}>
                                                                            <label class="form-check-label"
                                                                                for="flexCheckDefault">
                                                                                {{ i }}
                                                                            </label>
                                                                        </div>
                                                                        {% endfor s%}
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                            value="{{ product_case.0 }}"
                                                                            name="product_addrule_delete"
                                                                            onclick="return false;"
                                                                            style="position: absolute; right: 240px;">
                                                                    </td>
                                                                    <td>
                                                                        <a>
                                                                            <font color="black">修改</font>
                                                                        </a>
                                                                    </td>
                                                                    {% if product_case.3 == 1%}
                                                                    <td>
                                                                        <button type="submit"
                                                                            class="btn btn-primary my-small-btn"
                                                                            name="product_addrule_return"
                                                                            value="{{ product_case.0 }}">
                                                                            <i class="fas fa-undo-alt"></i>
                                                                        </button>
                                                                    </td>
                                                                    {% else %}
                                                                    <td>
                                                                        <a>開啟</a>
                                                                    </td>
                                                                    {% endif %}
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <div>
                                                <button class="btn btn-success" type="button" name="add_productrule"
                                                    id="add_productrule"
                                                    style="position: absolute; bottom: 3px; right: 30px;"
                                                    data-toggle="modal" data-target="#insert">
                                                    新增
                                                </button>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary" type="submit" name="send"
                                                    style="position: absolute; bottom: 3px; right: 110px;">確定</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="insert" role="dialog" tabindex="-1">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">新增規則</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                </div>
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">規則命名</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                name="new_addrule">
                                        </div>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">可選中文名稱</label>
                                            {% for i in unit_name%}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                                    name="new_check" value="{{ i }}">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    {{ i }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-light" type="button" data-dismiss="modal">返回</button>
                                        <button class="btn btn-primary" type="submit" name="insert">確定並返回</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}